*{
    padding: 0;
    margin: 0;
}

body{
    background-color: rgb(30, 30, 30);
    color: rgb(146, 148, 150);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    overflow: hidden;
}

h1{
    font-size: 30px;
}

nav{
   height: 100vh;
   border-right: 1px solid rgb(76, 77, 78);
   border-bottom: 1px solid rgb(76, 77, 78);
   padding-right: 5px;
   width: 15vw;
   position: fixed;
}

.white{
    color: white;
    font-weight: 700;
}

.link-conteudo{   
    color: rgb(146, 148, 150);
    text-decoration: none;
    font-size: .7rem;
}

.shaft{
    width: 10px;
    height: 10px;
}

.innovate{
    display: block;
    color: rgb(146, 148, 150);
    text-decoration: none;
    text-align: center;
    padding: 2.7rem;
    position: relative;
    margin-bottom: 1.5rem;
    background: url(Image/piscada.png) no-repeat;
    background-size: 30px;
    background-position: 45px center;
}

.innovate:hover{
    color: lightgrey;
}

.arrow{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 10px;
    height: 10px;
    transition: transform .8s;
}

.innovate:hover .arrow{
    transform: rotate(355deg);
}

.link-logo{
    display: block;
    text-align: center;
    margin-bottom: 4.6rem;
}

.logo{
    height: 3.5rem;
}

.form li{
    margin-bottom: 10px;
    margin-left: 3vw;
    list-style-type: none;
    font-size: .9rem;
}

.form a{
    color: white;
    text-decoration: none;
    display: block;
    line-height: 30px;
}

#one{
    background-image: url(Image/01..png);
}

#two{
    background-image: url(Image/02..png);
}

#three{
    background-image: url(Image/03..png);
}

#four{
    background-image: url(Image/04..png);
}

#five{
    background-image: url(Image/05..png);
}

.form a:hover{
    color: lightgrey;
    font-weight: bold;
}

#one:hover{
    background-image: url(Image/01hover.png);
}

#two:hover{
    background-image: url(Image/02hover.png);
}

#three:hover{
    background-image: url(Image/03hover.png);
}

#four:hover{
    background-image: url(Image/04hover.png);
}

#five:hover{
    background-image: url(Image/05hover.png);
}

li{
    background-position: 6px center;
    background-repeat: no-repeat;
    height: 30px;
}

main{
    margin-left: 17vw;
}

#quemsomos, #fazemos, #news, #clientes, #contato{
    height: 100vh;
    display: flex;  
    padding-top: 4rem;
    flex-wrap: wrap;
}

#fazemos, #news{
    padding-top: 14px;
}

#quemsomos{
    flex-direction: column;
}

#quemsomos article{
    width: 100vh;
}

#quemsomos h1{
    background: url(Image/01.title.png) no-repeat;
    padding: 1.5rem;
}

#quemsomos p{
    margin-bottom: 10px;
}

#quemsomos img{
    height: 300px;
    width: 500px;
}

#fazemos article{
    width: 29rem;
    margin-right: 3rem;
}

#fazemos .background-number{
    background: url(Image/02.title.png) no-repeat;
    padding: 1.5rem;
    background-position: 30px center;
}

#fazemos h2, #fazemos p{
    margin-bottom: 10px;
}

#fazemos p{
    font-size: .8rem;
}

#fazemos .section-card{
    display: flex;
    width: 40vw;
    gap: 1rem;
    height: 351px;
    margin-bottom: 3vh;
}

#fazemos .section-card section{ 
    width: 270px; 
}

#fazemos .section-card .area-image{
    height: 118px;
    width: 141px;
    position: relative;
    margin-bottom: 1rem;
}

#fazemos .section-card .area-image img{
    height: 126px;
    width: 100%;
}

#fazemos .section-card p{
    width: 146px;
}

#fazemos .section-card .area-image .icon{
    height: 2rem;
    width: 3rem;
    position: absolute;
    bottom: 0;
}

#fazemos .section-card .different .white{
    font-weight: bold;
    font-size: .9rem;
}


#news .background-number{
    background: url(Image/03.title.png) no-repeat;
    padding: 1.5rem;
    background-position: 30px 18px;
}

#news .background-number h1{
    display: inline;
}

#news .area-card{
    display: flex;
    margin-bottom: 13vh;
    margin-right: 2vw;
}

#news section{
    font-size: .8rem;
    width: 13.5rem;
    margin-right: 0.5rem;
    background-color: #292929;
}

#news .area-card .area-imagem img{
    width: 100%
}

#news .conteudo{
    padding: 1rem;
}

#news .area-card h3{
    margin-top: .5rem;
}

#news .area-card span{
    font-size: .9rem;
    color: black;
    background-color: #939598;
}

#news .area-card p{
    margin-top: .5rem;
    margin-bottom:.5rem;
}










#clientes h1{
    background: url(Image/04.title.png) no-repeat;
}

#contato h1{
    background: url(Image/05.title.png) no-repeat;
}

#quemsomos h1, #news h1, #clientes h1, #contato h1{
    margin-bottom: 10px;
    background-position: 30px center;
 }



 /*No o que fazemos ele não respeita muito bem um tamanho especifico, cuidar no midia*/